* {
	padding: 0;
	margin: 0;
}

html {
	overflow: auto;
}

.head{
	background-color: rgb(0, 0, 0);
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

input {
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

button{
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
}

button:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}

#fileInput{
	display: none;
}

#JSONInput{
	display: none;
}

#fileLabel{
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
	cursor: pointer; 
}

#JSONLabel{
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
	cursor: pointer; 
}

/* #fileInput::after{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;

	background: #000;

} */


	
#fileInput:hover{
	background-color: red;
	color: black;
	cursor: pointer;
}

#JSONInput:hover{
	background-color: red;
	color: black;
	cursor: pointer;
}

#c{
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgb(0, 0, 0);
	background-size: cover;
	position: absolute;
}

header {
	border-bottom: 2px solid red;
}

.menu {
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.5s;
	position: absolute;
	top: 50%;
	left: 7%;
	transform: translate(-50%, -50%);
	margin: auto;
}

.menu li:hover {
	background-color: red;
	color: black;
	cursor: pointer;
  }
  







