* {
	padding: 0;
	margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.head{
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
 
}

input {
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* button{
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
} */

.button_split{
	width: 100px;
	height: 50px;

}

.btnsplit{
	overflow: visible;


}

.btnsplit_rect{
	width: 100px;
	height: 50px;
	stroke: #FFF;
	stroke-width: 4;
	stroke-dasharray: 75;
	stroke-dashoffset: 45;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: transparent;
	transition: 0.3s ease-in-out;
	
}

.btnsplit_circle{
	fill:white
}

.btnsplit .btnsplit_rect:hover{
	stroke-dashoffset: 200;
	
}

 


/* button:hover {
	background-color: red;
	color: black;
	cursor: pointer;
} */


 



#fileInput{
	display: none;
}

#JSONInput{
	display: none;
}

#fileLabel{
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
	cursor: pointer; 
}

#JSONLabel{
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
	cursor: pointer; 
}

/* #fileInput::after{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;

	background: #000;

} */


	
#fileInput:hover{
	background-color: red;
	color: black;
	cursor: pointer;
}

#JSONInput:hover{
	background-color: red;
	color: black;
	cursor: pointer;
}

#c{
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgb(0, 0, 0);
	background-size: cover;
	position: fixed;
	top: 0;
    left: 0;
    z-index: 0;
}

header {
	position: relative;
    z-index: 1;
}

.menu {
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.5s;
	position: absolute;
	top: 50%;
	left: 7%;
	transform: translate(-50%, -50%);
	margin: auto;
}

.menu li:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}
  







