* {
	padding: 0;
	margin: 0;
}

html {
	overflow: auto;
}

.head{
	background-color: rgb(0, 0, 0);
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

input {
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

button{
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;
}

button:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}

input[type="file"] {
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.3s;

}
	
input[type="file"]:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}

 
#c{
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgb(0, 0, 0);
	background-size: cover;
}

header {
	border-bottom: 2px solid red;
}







